.container{
    width: 500px;
    height: 500px;
    margin:auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(70,178,252,1) 45%);
    margin-bottom: 10px;
    border: 1px solid black;
    box-shadow: 5px 10px 18px rgb(67, 168, 235);
    border-radius: 10px;
  
}

 .info-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-evenly;
  
} 

.box{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}

h3,p{
    width: 200px;
    text-align: center;
}

.avatar{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.footer{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}